version: "3"
services:
  redis:
    image: redis/redis-stack:6.2.6-v9
    ports:
      - 6379:6379

  mysql:
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: gorse
      MYSQL_USER: gorse
      MYSQL_PASSWORD: gorse_pass

  postgres:
    image: postgres:10.0
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: gorse
      POSTGRES_PASSWORD: gorse_pass

  mongo:
    image: mongo:4.0
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

  clickhouse:
    image: clickhouse/clickhouse-server:23
    ports:
      - 8123:8123
  
  rustfs:
    image: rustfs/rustfs:alpha
    ports:
      - 9000:9000
    environment:
      RUSTFS_ACCESS_KEY: rustfsadmin
      RUSTFS_SECRET_KEY: rustfsadmin

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:3.34.0
    ports:
      - 10000:10000
    command: azurite-blob --blobHost 0.0.0.0 --blobPort 10000

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - 6333:6333
      - 6334:6334

  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.35.7
    ports:
      - 8080:8080
