name: Build Release
on: release
jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16.x
        uses: actions/setup-go@v1
        with:
          go-version: 1.16.x
        id: go
        
      - name: Pull source
        uses: actions/checkout@v1
        
      - name: Build release
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go get -v github.com/mitchellh/gox
          gox -os='darwin windows linux' -arch='amd64' ./...

      - name: Install zip
        uses: montudor/action-zip@v0.1.1

      - name: Zip binaries
        run: |
          zip gorse_linux_amd64.zip gorse-*_linux_amd64
          zip gorse_windows_amd64.zip gorse-*_windows_amd64.exe
          zip gorse_darwin_amd64.zip gorse-*_darwin_amd64

      - name: Upload release
        uses: johnwbyrd/update-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: gorse_darwin_amd64.zip gorse_linux_amd64.zip gorse_windows_amd64.zip
